html, body {
    width: 95%;
    height: 95%;
    margin: auto;
}

body * {
    font-family: 'Poppins';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gameboard {
    margin-top: 20px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.box {
    border: 1px solid black;
    border-radius: 10px;
    width: 125px;
    height: 125px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
}

